<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d
RewriteCond %{REQUEST_URI}% !^/static/
Header set Access-Control-Allow-Orign "http://localhost:8080"
Header add Access-Control-Allow-Headers "orign, x-requested-with, content-type"

RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

# shelter - admin - клиентская часть (кабинет администратора) VUE
# отправляет ajax запросы на сервер (axios библиотека)
# получает ответ
# формирует html (встраивает ответ в html)